<div class="col-xs-6 col-sm-4 col-md-4 group">
  <div class="dashboard">
    <h5>{{dashboards}}</h5>
    <h6>dashboards</h6>
  </div>
  <div class="project">
    <h5>{{projects}}</h5>
    <h6>projects</h6>
  </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-4 group">
  <div class="user">
    <h5>{{users}}</h5>
    <h6>registered users</h6>
  </div>
  <div class="collection">
    <h5>{{collections}}</h5>
    <h6>collections</h6>
  </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4 project releases">
  <h5>{{releases}}</h5>
  <h6>released projects</h6>
</div>