
<div class="landing-header">

  <div class="call-action">

    <div class="logo"></div>

    <h1>{{__ "Ideas for a"}} <span class="highlight">{{__ "hackathon"}}</span></h1>

    <div class="container-fluid">
      <div class="row landing-features">
        <div class="col-sm-6 col-md-3"></div>
        <div class="col-sm-6 col-md-3">
          <div class="media">
            <div class="media-left">
              <i class="fa fa-tasks"></i>
            </div>
            <div class="media-body">
              {{__ "Inform Progress to community."}}
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="media">
            <div class="media-left">
              <i class="fa fa-cloud-upload"></i>
            </div>
            <div class="media-body">
              {{__ "Upload your project to the platform."}}
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3"></div>
      </div>
      <div class="row landing-features">
        <div class="col-sm-6 col-md-3"></div>

        <div class="col-sm-6 col-md-3">

          <div class="media">
            <div class="media-left">
              <i class="fa fa-user-plus"></i>
            </div>
            <div class="media-body">
              {{__ "Add Collaborators to your projects."}}
            </div>
          </div>

        </div>
        <div class="col-sm-6 col-md-3">

          <div class="media">
            <div class="media-left">
              <i class="fa fa-share-alt"></i>
            </div>
            <div class="media-body">
              {{__ "Share your app to the world."}}
            </div>
          </div>

        </div>
        <div class="col-sm-6 col-md-3"></div>

      </div>

      <!--div class="row">

        <div class="col-xs-12">
          <div class="input-group">
            <input id="domain" type="text" class="form-control" placeholder="dashboard name (5-10 chars)">
            <span class="input-group-btn">
              <button id="create-dashboard" class="btn btn-primary" type="button">{{__ "create now"}}</button>
            </span>
          </div>
          <p id="new-dashboard-error" class="text-center text-danger hidden">{{__ "ERROR"}}</p>
        </div>

      </div-->


    </div>

  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center nav-tabs-container landing">

      <a class="btn btn-default mobile-menu visible-xs">
        <i class="fa fa-align-justify"></i>
      </a>

      <ul class="nav nav-tabs landing" role="tablist">

        <li id="collection" class="collection">
          <a href="#collections" role="tab" data-toggle="tab">{{__ "Collections"}}</a>
        </li>
        <li id="dashboard" class="dashboard">
          <a href="#dashboards" role="tab" data-toggle="tab">{{__ "Dashboards"}}</a>
        </li>
        <li id="project" class="project">
          <a href="#projects" role="tab" data-toggle="tab">{{__ "Projects"}}</a>
        </li>
        <li id="user" class="user">
          <a href="#users" role="tab" data-toggle="tab">{{__ "People"}}</a>
        </li>

      </ul>

    </div>
  </div>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="dashboards"></div>
  <div role="tabpanel" class="tab-pane" id="projects"></div>
  <div role="tabpanel" class="tab-pane" id="users"></div>
  <div role="tabpanel" class="tab-pane" id="collections"></div>
</div>

<div class="col-md-12 stats-ctn"></div>

<h3 class="team-tab visible-xs">{{__ "team"}}</h3>
<div class="col-md-12 team-ctn"></div>

<div class="team-partners hidden-xs">
  <div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-3 col-lg-2 col-lg-offset-4 partners-tab">
    <h3>{{__ "partners"}}</h3>
  </div>
  <div class="col-sm-5 col-md-3 col-lg-2 team-tab">
    <h3>{{__ "team"}}</h3>
  </div>
</div>

<h3 class="partners-tab visible-xs">{{__ "partners"}}</h3>
<div class="col-md-12 partners-ctn"></div>

<div class="col-md-12 about-ctn">
  {{{__ "The HackDash was born"}}}

</div>
<div class="col-md-12 footer-ctn"></div>
