<div class="cover {{#if covers.length}}list{{/if}}">
  {{#each_upto_rnd covers 1}}
  <div style="background-image: url({{.}});"></div>
  {{/each_upto_rnd}}

  {{#if title}}
  <i class="item-letter">{{firstLetter title}}</i>
  {{else}}
  <i class="item-letter">{{firstLetter domain}}</i>
  {{/if}}
</div>

<div class="details">
  <div>
    <h2>{{title}}</h2>
    <h3>{{domain}}</h3>
  </div>
</div>

<div class="action-bar text-center">
  <i class="fa fa-clock-o timer" title="{{timeAgo created_at}}"></i>
  <span>{{projectsCount}} {{__ "Projects"}}</span>
</div>