{{#if isAdmin}}

  <h1>
    <a id="dashboard-title">{{title}}</a>
  </h1>

  <p>
    <a id="dashboard-description">{{description}}</a>
  </p>

  <p>
    <a id="dashboard-link">{{link}}</a>
  </p>

{{else}}

  {{#if title}}
  <h1>{{title}}</h1>
  {{/if}}

  {{#if description}}
  <p>{{description}}</p>
  {{/if}}

  {{#if link}}
  <a href="{{link}}" target="_blank" data-bypass>{{link}}</a>
  {{/if}}

{{/if}}

{{#if open}}
<h3 class="page-link-right {{#isLoggedIn}}{{else}}no-user{{/isLoggedIn}}">
  <i class="fa fa-plus"></i>
  {{#isLoggedIn}}
  <a href="/dashboards/{{domain}}/create">Create Project</a>
  {{else}}
  <a class="login">Create Project</a>
  {{/isLoggedIn}}
</h3>
{{/if}}

