{{#if isAdmin}}

  <h1>
    <a id="dashboard-title">{{title}}</a>
  </h1>

  <p>
    <a id="dashboard-description">{{description}}</a>
  </p>

  <p>
    <a id="dashboard-link">{{link}}</a>
  </p>

{{else}}

  {{#if title}}
  <h1>
    {{#isEmbed}}
    <a class="logo" href="{{hackdashURL}}" target="_blank"></a>
    {{/isEmbed}}
    {{title}}
  </h1>
  {{/if}}

  {{#if description}}
  <p>{{description}}</p>
  {{/if}}

{{/if}}