
<div class="header">
  <div class="container">

    {{#isEmbed}}
    <a class="dash-details" href="/dashboards/{{domain}}" target="_blank"></a>
    {{else}}
    <div class="dash-details"></div>
    {{/isEmbed}}

    <div class="dash-admins"></div>

    <div class="dash-buttons">
      {{#if link}}
        <a class="link tooltips" href="{{link}}" target="_blank"
        data-bypass data-original-title='{{__ "Open dashboard website"}}'>
          <i class="fa fa-link"></i>
        </a>
      {{/if}}
      <a class="share tooltips" data-original-title='{{__ "Share this Dashboard"}}'>
        <i class="fa fa-share-alt"></i>
      </a>
    </div>

    {{#isDashOpen}}
    <div class="dash-create visible-xs">
      <h3 class="create-project">
        <i class="fa fa-plus"></i>
        {{#isLoggedIn}}
        <a href="/dashboards/{{domain}}/create">{{__ "Create Project"}}</a>
        {{else}}
        <a class="login">{{__ "Create Project"}}</a>
        {{/isLoggedIn}}
      </h3>
    </div>
    {{/isDashOpen}}

  </div>
</div>

<div class="body">

  <div class="container">

    <div id="dashboard-projects"></div>
    <div id="inactive-projects" class="hide inactive-ctn"></div>

  </div>

</div>
