<div class="modal-body">

  <button type="button" class="close" data-dismiss="modal">
    <i class="fa fa-close"></i>
  </button>

  <div class="row">
    <div class="col-md-5 col-lg-3">

      <h1>embed this dashboard</h1>

      <div class="settings">

      {{#each settings}}

        <div class="checkbox">
          <label>
            <input id="{{code}}" type="checkbox" checked> {{name}}
          </label>
        </div>

      {{/each}}

        <form class="form-inline slider">
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input id="slider" type="checkbox">
              </label>
            </div>
            <label for="slider">Slider</label>
            <input id="slides" type="number" min="1" max="6" value="1">
          </div>
        </form>

        <div>
          <h5>Projects</h5>

        {{#each pSettings}}

          <div class="checkbox">
            <label>
              <input id="{{code}}" type="checkbox" checked> {{name}}
            </label>
          </div>

        {{/each}}

          <div class="form-group">
            <select name="status" class="form-control status" value="{{status}}">
              <option value="all" selected="true">ANY STATUS</option>
              {{#each statuses}}
              <option value="{{name}}">{{name}} [{{count}}]</option>
              {{/each}}
            </select>
          </div>

        </div>

      </div>

      <label class="get-code">Add this dashboard to your website by coping this code below</label>
      <textarea id="embed-code" onclick="this.focus();this.select();" readonly="readonly"></textarea>

    </div>
    <div class="col-md-7 col-lg-9" style="position:relative;">

      <div class="col-xs-12 col-sm-12 share-dashboard-filters">

        <div class="col-xs-12 col-sm-4 col-md-4">
          <input id="keywords" type="text" class="form-control" placeholder="keywords">
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="btn-group pull-right" data-toggle="buttons">
            <label class="btn btn-default">
              <input type="radio" name="options" id="name" autocomplete="off"> By Name
            </label>
            <label class="btn btn-default active">
              <input type="radio" name="options" id="date" autocomplete="off"> By Date
            </label>
            <label class="btn btn-default">
              <input type="radio" name="options" id="showcase" autocomplete="off"> Showcase
            </label>
          </div>
        </div>

      </div>

      <div class="col-xs-12 dash-preview-help">
        <h3>Preview</h3>
        <p>The embedded code will show exactly what's below</p>
      </div>

      <div class="col-xs-12 preview">
        <iframe width="100%" height="450" title="Hackdash" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>

</div>
