{{#if isAdmin}}

  <h1>
    <a id="collection-title">{{title}}</a>
  </h1>

  <p class="lead collection-lead">
    <a id="collection-description">{{description}}</a>
  </p>

{{else}}

  {{#if title}}
  <h1>
    {{title}}
  </h1>
  {{/if}}

  {{#if description}}
  <p class="lead">{{description}}</p>
  {{/if}}

{{/if}}