{{#if readOnly}}
    
    {{#if title}}
    <h1>
      {{title}}

      {{#if link}}
      <a class="dashboard-link" href="{{link}}" target="_blank" data-bypass>site</a>
      {{/if}}
    </h1>
    {{/if}}

    {{#if description}}
    <p class="lead">{{description}}</p>
    {{/if}}

{{else}}

  {{#if isAdmin}}

    <h1>
      <a id="dashboard-title">{{title}}</a>
    </h1>

    <p class="lead dashboard-lead">
      <a id="dashboard-description">{{description}}</a>
    </p>

    <p class="dashboard-link">
      <a id="dashboard-link">{{link}}</a>
    </p>

  {{else}}

    {{#if title}}
    <h1>
      {{title}}

      {{#if link}}
      <a class="dashboard-link" href="{{link}}" target="_blank" data-bypass>site</a>
      {{/if}}
    </h1>
    {{/if}}

    {{#if description}}
    <p class="lead">{{description}}</p>
    {{/if}}

  {{/if}}

  {{#isLoggedIn}}

    {{#if open}}
    <a class="btn btn-large" href="/projects/create">New Project</a>
    {{else}}
    <h4 class="tooltips dashboard-closed" 
      data-placement="bottom" data-original-title="Dashboard closed for creating projects">Dashboard Closed</h4>
    {{/if}}

    {{#if isAdmin}}
    <div class="tooltips dashboard-switcher"
      data-placement="top" data-original-title="Toggle creation of projects on this Dashboard">
      
      <input type="checkbox" {{#if open}}checked{{/if}} class="switch-large"
        data-off-label="CLOSE" data-on-label="OPEN">
    </div>

    <div class="tooltips showcase-switcher-ctn"
        data-placement="top" data-original-title="Toggle sort edition of projects for showcase">
      <h5>Edit Showcase mode</h5>
      <div class="showcase-switcher">      
        <input type="checkbox" class="switch-large" data-off-label="OFF" data-on-label="ON">
      </div>
    </div>

    <a class="btn export" href="/api/v2/csv" target="_blank" data-bypass>Export CSV</a>
    {{/if}}

  {{else}}

    {{#if open}}
    <a class="btn btn-large" href="/login">Login to create a project</a>
    {{else}}
    <a class="btn btn-large" href="/login">Login to join/follow projects</a>
    {{/if}}

  {{/isLoggedIn}}
{{/if}}