extends layout

block content

  .row-fluid.header
    .span3.logo
      img(src="/images/logo.png", width="225")

    .span3
    .span3
      form.well.form-search(action="/search", method="get")
        input.input-medium.search-query(type="text", name="q")
        button.btn(type="submit") Buscar

    .span3
      a.span12.newProject(href="#newProject", data-toggle="modal")
        img.span12(src="/images/new-project.png")

  .row-fluid.projects
    each project, index in projects
      .project.well
        h3.title #{project.title}
        p
          strong (@#{project.owner_username}) 
          - if(user && project.owner_id == user.id){
            a.edit(href="/projects/edit/" + project.id) Edit project
          - } else if(user && project.contributors.indexOf(user.username) !== -1){
            a.join(href="/projects/leave/" + project.id) Leave project
          - } else {
            a.join(href="/projects/join/" + project.id) Join project
          - }
        p.description
          | #{project.description.replace('\n', '<br />')}
        
        p
            each link, index in project.links
              if(index != project.links.length - 1)
                a(href=link, target="blank")= link
                |  |
              else 
                a(href=link, target="blank")= link
 


        ul.users
          each contrib in project.contributors
            li
              a(href="/search?q=" + contrib, target="_blank") 
                span @#{contrib}

  #newProject.modal.hide
    form.form-horizontal(action="/projects/new", method="POST")
      fieldset
        legend New Project
        .control-group
          label.control-label(for="title") Title
          .controls
            input(class="input-xlarge", type="text", name="title", id="title")

        .control-group
          label.control-label(for="description") Description
          .controls
            textarea(class="input-xlarge", id="description", name="description", rows="3", maxlength="400")

       .control-group
          label.control-label(for="links") Links (comma separated)
          .controls
            input(class="input-xlarge", type="text", name="links", id="links")

      .form-actions
        button.btn.btn-primary(type="submit") Create project
        button.btn.cancel Cancel

  #editProject.modal.hide

if(!user) user = {username: ''}

  script()
      window.username = '#{user.username}';
