extends layout

block content

  .ulogin(style="float:right;")
    if(!user.username.length) 
      | No est치s conectado. 
      a(href="/auth/twitter") Entr치 con Twitter
    else
      | Bienvenido 
      a(target="_blank",href="https://twitter.com/" + user.username) @#{user.username} 
      a(href="/logout") Salir

  .row-fluid.header
    .span3.logo
      img(src="/images/logo.png", width="225")

    .span3#sort
      h3 filtrar
      button.span4.btn-large.sort.btn#date Fecha
      button.span4.btn-large.sort.btn#name Nombre
      button.span8.btn-large.sort.btn#contribs Cant. de usuarios
      
    .span3
      form.well.form-search(action="/search", method="get")
        input.input-medium.search-query(type="text", name="q", value=("undefined" == typeof q) ? '' : q)
        button.btn(type="submit") Buscar

    .span3
      if(user.username.length)
        a.span12.newProject(href="#newProject", data-toggle="modal")
          img.span12(src="/images/new-project.png")
      else
         a.span12.newProject(href="/auth/twitter")
          img.span12(src="/images/new-project.png")
       

  .row-fluid.projects#projects
    each project, index in projects
      .project.well(data-contribs=project.contributors.length, data-name=project.title, data-date=("undefined" == typeof project.created_at) ? 0 : project.created_at)
        if(user.username == "blejman")
          a(href="/projects/remove/"+project.id, style="float:right") x
        h3.title #{project.title}
        p
          //strong
            a(href="https://twitter.com/" + project.owner_username, target="_blank") (@#{project.owner_username}) 
          - if(user && project.owner_id == user.id){
            a.edit(href="/projects/edit/" + project.id) Editar proyecto (#{project.pending.length})
          - } else if(user && project.contributors.indexOf(user.username) !== -1){
            a.join(href="/projects/leave/" + project.id) Abandonar proyecto
          - } else if(user && project.pending.indexOf(user.username) !== -1){
            a.join(href="/projects/leave/" + project.id) Pendiente de aprobaci칩n
          - } else {
            a.join(href="/projects/join/" + project.id) Unirte al proyecto
          - }
        p.description
          | #{project.description.replace('\n', '<br />')}
        
        p
            each link, index in project.links
              if(index != project.links.length - 1)
                a(href=link, target="blank")= link
                |  |
              else 
                a(href=link, target="blank")= link
 


        ul.users
          each contrib, i in project.contributors
            li
              a(href="https://twitter.com/" + contrib, target="_blank") 
                if(i == 0)
                  strong
                    span @#{contrib}
                else
                  span @#{contrib}

  #newProject.modal.hide
    form.form-horizontal(action="/projects/new", method="POST")
      fieldset
        legend Crear proyecto
        .control-group
          label.control-label(for="title") Titulo
          .controls
            input(class="input-xlarge", type="text", name="title", id="title")

        .control-group
          label.control-label(for="description") Descripci칩n
          .controls
            textarea(class="input-xlarge", id="description", name="description", rows="3", maxlength="400")

       .control-group
          label.control-label(for="links") Links (separados por coma ",")
          .controls
            input(class="input-xlarge", type="text", name="links", id="links")

      .form-actions
        button.btn.btn-primary(type="submit") Crear proyecto
        button.btn.cancel Cancelar

  #editProject.modal.hide

  .footer(style="text-align: left; margin-top: 80px;")
    a(href="http://meetupba.hackshackers.com", target="_blank")
      img(src="http://photos4.meetupstatic.com/photos/event/6/8/b/b/global_22346811.jpeg",width="75")
    a(href="https://github.com/hhba/hackdash", target="_blank")
      img(src="https://a248.e.akamai.net/assets.github.com/images/modules/about_page/github_logo.png?1338956357", width="75")


  script()
      window.username = '#{user.username}';
