extends layout

block content

  .row
    .span4
      h1 Projects

    .span4
      form.well.form-search(action="/search", method="get")
        input.input-medium.search-query(type="text", name="q")
        button.btn(type="submit") Search

    .span2.offset2
      a.newProject.btn.btn-primary(href="#newProject", data-toggle="modal") New project

  .row.projects
    each project in projects
      .span4.project.well
        h3 #{project.title} 
        p
          strong (@#{project.owner_username})
        p
          strong Description: 
          | #{project.description.replace(/\n/, '<br />')}
        
        p
          strong Links:  
          ul
            each link in project.links
              li
                a(href=link, target="blank")= link
 
        p
          - if(project.owner_id == user.id){
            a.edit.btn(href="/projects/edit/" + project.id) Edit project
          - } else if(project.contributors.indexOf(user.username) !== -1){
            a.join.btn(href="/projects/leave/" + project.id) Leave project
          - } else {
            a.join.btn(href="/projects/join/" + project.id) Join project
          - }

        ul.users
          each contrib in project.contributors
            li
              a(href="/search?q=" + contrib, target="_blank") 
                span @#{contrib}

  #newProject.modal.hide
    form.form-horizontal(action="/projects/new", method="POST")
      fieldset
        legend New Project
        .control-group
          label.control-label(for="title") Title
          .controls
            input(class="input-xlarge", type="text", name="title", id="title")

        .control-group
          label.control-label(for="description") Description
          .controls
            textarea(class="input-xlarge", id="description", name="description", rows="3")

       .control-group
          label.control-label(for="links") Links (comma separated)
          .controls
            input(class="input-xlarge", type="text", name="links", id="links")

      .form-actions
        button.btn.btn-primary(type="submit") Create project
        button.btn.cancel Cancel


  #editProject.modal.hide

  script()
      window.username = '#{user.username}';

