extends layout

block content

  

  .row-fluid.projects#projects
    each project, index in projects
      .project.well(data-contribs=project.contributors.length, data-name=project.title, data-date=("undefined" == typeof project.created_at) ? 0 : project.created_at)
        h3.title 
          a(href="/p/" + project.id) #{project.title}
        p.description
          | #{project.description.replace('\n', '<br />')}
        
        p
          a(href=project.link)= project.link

        ul.users
          each contrib, i in project.contributors
            li
              a(href="https://twitter.com/" + contrib.username, target="_blank") 
                if(i == 0)
                  strong
                    span @#{contrib.username}
                else
                  span @#{contrib.username}

  #newProject.modal.hide
    form.form-horizontal(action="/projects/new", method="POST")
      fieldset
        legend Crear proyecto
        .control-group
          label.control-label(for="title") Titulo
          .controls
            input(class="input-xlarge", type="text", name="title", id="title")

        .control-group
          label.control-label(for="description") Description
          .controls
            textarea(class="input-xlarge", id="description", name="description", rows="3", maxlength="400")

       .control-group
          label.control-label(for="link") Link
          .controls
            input(class="input-xlarge", type="text", name="link", id="link")

       .control-group
          label.control-label(for="tags") Tags comma separated (,)
          .controls
            input(class="input-xlarge", type="text", name="tags", id="tags")

      .form-actions
        button.btn.btn-primary(type="submit") Create project
        button.btn.cancel Cancel

  #editProject.modal.hide

  .footer(style="text-align: left; margin-top: 80px;")
    a(href="http://meetupba.hackshackers.com", target="_blank")
      img(src="http://photos4.meetupstatic.com/photos/event/6/8/b/b/global_22346811.jpeg",width="75")
    a(href="https://github.com/hhba/hackdash", target="_blank")
      img(src="https://a248.e.akamai.net/assets.github.com/images/modules/about_page/github_logo.png?1338956357", width="75")


  script()
      window.username = '#{user.username}';
