.row
	.span8.span-center
		.boxxy
			.span6.offset1
				h3 Edita tu perfil

					if((typeof errors != "undefined") && errors.length)
						p An error ocurred:
						each err in errors
							p(style="margin-left:20px") #{err}

					form.ajaxForm.form-horizontal(method="POST", action=site_root + '/api/users/' + user.id)
						.control-group
							input(name="name", type='text', placeholder='Nombre', value=user.name)
						.control-group
							input(name="email", type='text', placeholder='Email', value=user.email)
						.control-group
							textarea(class='input-block-level', name="bio", placeholder='Contanos algo sobre vos.', rows="6", maxlength="1200") #{user.bio}
						.control-group
							button.btn.btn-success.pull-left(type="submit") Guardar cambios
							a.cancel.btn.pull-right(data-dismiss="modal") Cancelar