doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/styles/select2.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css')
    link(rel='stylesheet', href='/styles/bootstrap-switch.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    link(rel='stylesheet', href='/styles/main.css?v=' + version)

  body

    header
    .container#page
      #main
        block content  
    footer
    #modals-container

    script(src="/js/libs/jquery.min.js")
    script(src="/js/libs/bootstrap.min.js")
    script(src="/js/vendor.js?v=" + version)
    script(src='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.min.js')

    script.
      window.hackdash = { 
        subdomain: "!{subdomain}",
        baseURL: "!{host}",
        disqus_shortname: "!{disqus_shortname}",
        statuses: "!{statuses}",
        providers: "!{providers}"
      };

    if ("undefined" == typeof user)
      script.
        window.hackdash.user = null;
    else 
      script.
        window.hackdash.user = !{JSON.stringify(user)};      

    script(src="/js/hackdashApp.js?v=" + version)

    script.
      $(function(){
        window.hackdash.startApp();
      });

    script().
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41680841-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();