header(style="background: #{dashboard.background}")
  .container
    form.formSearch
      i.icon-large.icon-search
      input.search-query.input-large#searchInput(type='text')
      .orderby
        .btn-group
          button.sort.btn(data-option-value="name") Order by name
          button.sort.btn( data-option-value="date") Order by date

    .createProject.pull-right.btn-group
        if(user)
            a.btn-profile(href="/users/profile")
              img.avatar(src=user.picture).tooltips(rel='tooltip', data-placement='bottom', data-original-title='Edit profile')
            a.btn.logout(href="/logout") Logout
      
    a.logo(href="/")= title
    h1 #{dashboard.title}
    p.lead #{dashboard.description}
    - if (user) {
      a.btn.btn-large(href="/projects/create") New project
    - } else { 
      a.btn.btn-large(href="/login") Login to create a project
    - }
        

