.head.navbar-fixed-top
  .navbar
    .header-gcba
      .header-inner
        .container
          a(href='http://buenosaires.gob.ar', target='_blank')
            .logo
          h2.slogan En todo estás vos

header
  .container
    form.formSearch
      i.icon-large.icon-search
      input.search-query.input-large#searchInput(type='text')
    .btn-group.userBox.pull-right
        if(user)
          a.btn.btn-notification(href="/2013/apps/users/applicants") 
            i.icon-bell-alt.white
            span.label.label-important #{applicants.length}
          a.btn.btn-profile(href="/2013/apps/users/profile")
            img.avatar(src=user.picture).tooltips(rel='tooltip', data-placement='bottom', data-original-title='Editar perfil')
          a.btn.btn-logout(href="/2013/apps/logout") Salir
  
    a.logo(href="/2013/apps/")= title
    h1 #{dashboard.title}
    p.lead #{dashboard.description}
    .join
      - if (user) {
        - if (canCreate(user)) {
          a.btn.btn-large(href="/2013/apps/projects/create") Postulá tu app
        - }
      - } else { 
        - if (stageCanCreate()) {
          a.btn.btn-large(href="/2013/apps/login") Participá ahora
        - } else {
          a.btn.btn-large(href="/2013/apps/login") Registrate para participar
        - }
      - }
    
