header(style="background: #{dashboard.background}")
  .container
    form.formSearch
      i.icon-large.icon-search
      input.search-query.input-large#searchInput(type='text')
    .createProject.pull-right
        if(user)
          a.btn-profile(href="/users/profile")
            img.avatar(src=user.picture + '?s=50').tooltips(rel='tooltip', data-placement='bottom', data-original-title='Edit profile')
  
    a.logo(href="/")= title
    h1 #{dashboard.title}
    p.lead #{dashboard.description}
    - if (user) {
      - if (canCreate(user)) {
        a.btn.btn-large(href="/projects/create") New project
      - }
    - } else { 
      - if (stageCanCreate()) {
        a.btn.btn-large(href="/login") Login to create a project
      - } else {
        a.btn.btn-large(href="/login") Login
      - }
    - }
    
