doctype html
html
  head
    meta(name="fragment", content="!")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title= meta.title
    meta(name="description", content= meta.description)
    link(rel='image_src', type='image/png', href= meta.image)

    meta(property='og:image', content= meta.image)
    meta(property='og:title', content= meta.title)
    meta(property='og:description', content= meta.description)
    meta(property='og:url', content= meta.url)
    meta(property='og:site_name', content='HackDash')
    meta(property='og:type', content='website')

    meta(property='twitter:card', content='summary')
    meta(property='twitter:title', content= meta.title)
    meta(property='twitter:description', content= meta.description)
    meta(property='twitter:image:src', content= meta.image)

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Oswald:400,700,300|Montserrat:400,700')

    link(rel='stylesheet', href='/styles/vendor.css?v=' + version)

    block styles

  body

    header

    #main
      block content

    footer

    .modal
      .modal-dialog
        #modals-container.modal-content

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="/js/libs/jquery-1.11.2.min.js">\x3C/script>');

    script(src="/js/vendor.js?v=" + version)

    script(src="https://platform.twitter.com/widgets.js")

    script.
      window.hackdash = {
        subdomain: "!{subdomain}",
        baseURL: "!{host}",
        discourseUrl: "!{discourseUrl}",
        disqus_shortname: "!{disqus_shortname}",
        statuses: "!{statuses}",
        providers: !{JSON.stringify(providers)},
        fbAppId: "!{fbAppId}"
      };

    if ("undefined" == typeof user)
      script.
        window.hackdash.user = null;
    else
      script.
        window.hackdash.user = !{JSON.stringify(user)};

    block scripts

    if (googleAnalytics)
      script().
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '!{googleAnalytics}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();