.project.span12(data-contribs=project.contributors.length, data-name=project.title, data-date=("undefined" == typeof project.created_at) ? 0 : project.created_at, id="project-" + project.id)
  
  .well
    .row-fluid
      .span3.activity.people #{project.followers.length}
        span(data-icon="6", aria-hidden="true")
      .span6.pull-right.aging.activity #{project.created_at.getDay()} days ago
        span(data-icon="P", aria-hidden="true")
    .divider(class=project.status)
    p
      a(href="/p/" + project.id, target="_blank") #{project.description}
    .info
      span.status #{project.status}
      each tag, index in project.tags
        if(tag.length)
          span(class="badge") #{tag}
      .actions
        .btn-group
          if(user)
            if(project.followers.indexOf(user._id) == -1)
              a.follow.btn(href='/api/projects/'+ project._id +'/follow') follow
            else
              a.unfollow.btn(href='/api/projects/'+ project._id +'/unfollow') unfollow
          if(project.leader._id.toString() == user._id.toString())
            a.btn(href='/projects/edit/'+project._id) Edit  

