extends layout

block content

  .row-fluid
    .span4
    .span4
      h1.title= project.title

      p.tools
      p.description

        | #{project.description.replace('\n', '<br />')}
        
      p
        a(href=project.link.replace(/^[^hH]ttp/, 'http://$&'), target="blank")= project.link
 
      ul.users
        each contrib, i in project.contributors
          li
            a(href="https://twitter.com/" + contrib, target="_blank") 
              if(i == 0)
                strong
                  span @#{contrib.username}
              else
                span @#{contrib.username}
      a.twitter-share-button(href="https://twitter.com/share", data-text=project.title) Tweet

  script()
      window.username = '#{user.username}';
