.project.span4(data-contribs=project.contributors.length, data-name=project.title, data-date=("undefined" == typeof project.created_at) ? 0 : project.created_at, id="project-" + project.id)
  
  .well
    .row-fluid
      .span3.activity.people #{project.contributors.length}
      .span6.aging.activity #{project.created_at.getDay()} days ago
        span(data-icon="P", aria-hidden="true")
    .divider
    p
      a(href="/p/" + project.id, target="_blank") #{project.description}
    .info
      each tag, index in project.tags
        if(tag.length)
          span(class="badge") #{tag}