
<a class="brand {{#if isDashboard}}{{#if isAdmin}}dashboard-footer{{/if}}{{/if}}">
  <div class="logo"></div>
  <h3>hackdash.org</h3>
</a>

{{#if isDashboard}}
  {{#if isAdmin}}
  <div class="footer-dash-ctn">


    <div class="footer-toggle-ctn">

      <a href="/api/v2/dashboards/{{domain}}/csv" target="_blank" data-bypass>
        <i class="fa fa-download"></i>
        <div>Export .CSV File</div>
      </a>

      <a data-placement="top" data-original-title="{{switcherMsg}}"
        class="tooltips dashboard-btn {{#if open}}dash-open{{else}}dash-close{{/if}}">
        <i class="txt {{#if open}}btn-success{{else}}btn-danger{{/if}}">{{#if open}}Open{{else}}Close{{/if}}</i>
        <div>Dashboard Status</div>
      </a>

    </div>

    <a class="btn-showcase-mode">
      <i class="btn-danger txt">off</i><div>Edit Showcase</div>
    </a>

  </div>
  {{/if}}
{{/if}}

<a class="up-button">
  <i class="fa fa-long-arrow-up"></i>
  <span>up</span>
</a>