.span6.span-center
  div.boxxy
    h3.header Edit project

    div
      form.ajaxForm(action="/api/projects/edit/" + project.id, method="POST")
        .form-content
      
          .control-group
            .controls
              input(type="text", class="input-block-level", placeholder="Title", name="title", value=project.title)

          .control-group
            .controls
              textarea(class="input-block-level", id="description", name="description", rows="4", maxlength="400", placeholder="Description") #{project.description}

          .control-group
            .controls
              #dragdrop 
                p Drag Photo Here
                  input(type="file", name="cover_fall", id="cover_fall")        

          .control-group
            .controls
              input(class="input-block-level", type="text", name="link", id="link", placeholder="Link", value=project.link)

          .control-group
            .controls
              input(class="input-block-level", type="text", name="tags", id="tags", placeholder="Tags", value=project.tags.join(','), style="width: 100%")
      
          .control-group
            .controls
              select(class="input-xlarge", name="status", id="status", value=project.status, style="width: 100%")
                each status in statuses
                  if(status === project.status)
                    option(value=status, selected)= status
                  else
                    option(value=status)= status
      
        .form-actions

          input.btn.primary.btn-success.pull-left(type="submit", value="Save changes")
          a.cancel.btn.btn-cancel.pull-right(data-dismiss="modal") Cancel
