<div class="cover">{{getProfileImageHex .}}</div>
<h1 class="header">{{name}}</h1>
<div class="profileInfo">

{{#isLoggedIn}}
  <p>{{email}}</p>
{{else}}
  <p><a class="login" style="color: #A8A8A8;">{{__ "[ Log in to reveal e-mail ]"}</a></p>
{{/isLoggedIn}}

  <p>{{bio}}</p>
</div>