<a class="{{type}}" href="{{url}}">
  <div class="well media">
    <div class="media-left">

      <div class="cover">

        {{#if isProject}}
        <div class="progress" title="{{status}}">
          <div class="progress-bar progress-bar-success progress-bar-striped {{status}}" role="progressbar">
          </div>
        </div>
        {{/if}}

        {{#if showImage}}
        <img src="{{cover}}" style="width: 64px; height: 64px;">
        {{else}}
        <i class="item-letter">{{firstLetter title}}</i>
        {{/if}}

      </div>

    </div>

    <div class="media-body">

      <h4 class="media-heading">{{title}}</h4>
      <p>{{description}}</p>

    </div>

  {{#if showDelete}}
    <button class="remove-entity pull-right">{{__ "Remove"}}</button>
  {{/if}}
  </div>
</a>