
<div class="header">
  <div class="container">

    <div class="profile-card"></div>

    <div class="text-center">

      <ul class="nav nav-tabs" role="tablist">

        {{#if collections.length}}
        <li id="collection" class="collection">
          <a href="#collections" role="tab" data-toggle="tab" data-bypass="true">
            <span class="coll-length">{{collections.length}}</span>
            <h3>{{__ "Collections"}}</h3>
          </a>
        </li>
        {{/if}}

        <li id="dashboard" class="dashboard">
          <a href="#dashboards" role="tab" data-toggle="tab" data-bypass="true">
            <span class="dash-length">{{dashboards.length}}</span>
            <h3>{{__ "Dashboards"}}</h3>
          </a>
        </li>
        <li id="project" class="project">
          <a href="#projects" role="tab" data-toggle="tab" data-bypass="true">
            <span class="proj-length">{{projects.length}}</span>
            <h3>{{__ "Projects"}}</h3>
          </a>
        </li>
        <li id="contribution" class="contributions">
          <a href="#contributions" role="tab" data-toggle="tab" data-bypass="true">
            <span class="contrib-length">{{contributions.length}}</span>
            <h3>{{__ "Contributions"}}</h3>
          </a>
        </li>
        <li id="like" class="likes">
          <a href="#likes" role="tab" data-toggle="tab" data-bypass="true">
            <span class="likes-length">{{likes.length}}</span>
            <h3>{{__ "Following"}}</h3>
          </a>
        </li>

      </ul>

    </div>

  </div>
</div>

<div class="body">
  <div class="container">

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="dashboards"></div>
      <div role="tabpanel" class="tab-pane" id="projects"></div>
      <div role="tabpanel" class="tab-pane" id="collections"></div>
      <div role="tabpanel" class="tab-pane" id="contributions"></div>
      <div role="tabpanel" class="tab-pane" id="likes"></div>
    </div>

  </div>
</div>
