
<div class="progress" title="{{status}}">
  <div class="progress-bar progress-bar-success progress-bar-striped {{status}}" role="progressbar">
  </div>
</div>

<div class="cover">
{{#if cover}}
  <div class="item-cover" style="background-image: url({{cover}});"></div>
{{else}}
  <i class="item-letter">{{firstLetter title}}</i>
{{/if}}
</div>

<div class="details">
  <div>
    <h2>{{title}}</h2>
    <h3><a href="/dashboards/{{domain}}" data-bypass>{{domain}}</a></h3>
  </div>
</div>

<ul class="contributors">
  {{#each_upto contributors 5}}
  <li>
    <a href="/users/{{_id}}" data-bypass>
      {{getProfileImage .}}
    </a>
  </li>
  {{/each_upto}}
</ul>

<div class="action-bar text-right">

  <i class="fa fa-clock-o timer tooltips"
    data-original-title="{{timeAgo created_at}}"></i>

  {{#unless isOwner}}
    {{#if contributing}}
    <a
      class="tooltips contribute"
      data-loading-text="leaving..."
      data-original-title="{{contributors.length}} contributors">Leave</a>
    {{else}}
    <a
      class="tooltips contribute"
      data-loading-text="joining..."
      data-original-title="{{contributors.length}} contributors">Join</a>
    {{/if}}

    {{#if following}}
    <a
      class="tooltips follow"
      data-loading-text="unfollowing..."
      data-original-title="{{followers.length}} followers">Unfollow</a>
    {{else}}
    <a
      class="tooltips follow"
      data-loading-text="following..."
      data-original-title="{{followers.length}} followers">Follow</a>
    {{/if}}
  {{/unless}}

  {{#if link}}
  <a href="{{link}}" target="_blank" data-bypass>Demo</a>
  {{/if}}
</div>

{{#isLoggedIn}}
  {{#if isShowcaseMode}}

  <div class="switcher tooltips" data-placement="top" data-original-title="Toggle visibility">
    <input type="checkbox" {{#if active}}checked{{/if}} class="switch-small">
  </div>

  {{/if}}
{{/isLoggedIn}}
