
<div class="progress" title="{{status}}">
  <div class="{{status}}"></div>
</div>

<div class="cover">
{{#if cover}}
  <div class="item-cover" style="background-image: url({{cover}});"></div>
{{else}}
  <i class="item-letter">{{firstLetter title}}</i>
{{/if}}
</div>

<div class="details">
  <div>
    <h2>{{title}}</h2>
    <h3>{{domain}}</h3>
  </div>
</div>

<ul class="contributors">
  {{#each contributors}}
  <li>
    <a href="/users/{{_id}}" data-bypass>
      {{getProfileImage .}}
    </a>
  </li>
  {{/each}}
</ul>

<div class="action-bar text-center">
  <i class="fa fa-clock-o timer" title="{{timeAgo created_at}}"></i>
  <span>Likes {{followers.length}}</span>
  <!--<a>Join</a>
  <a>Demo</a>
  <a>Share</a>-->
</div>

{{#isLoggedIn}}
  {{#if isShowcaseMode}}

  <div class="switcher tooltips" data-placement="top" data-original-title="Toggle visibility">
    <input type="checkbox" {{#if active}}checked{{/if}} class="switch-small">
  </div>

  {{/if}}
{{/isLoggedIn}}
