
<div class="header">
  <div class="container">
    <h1>
      <input name="title" type="text" placeholder="Project Title" value="{{title}}" class="form-control"/>
    </h1>
    <h3 class="page-link-left">
      <a href="/dashboards/{{domain}}">{{domain}}</a>
    </h3>
  </div>
</div>

<div class="body">
  <div class="bg-body-entity"></div>
  <div class="container">

    <div class="col-md-4">

      <div class="cover">

        <div class="progress" title="{{status}}">
          <div class="status">
            <select name="status" id="status" class="form-control" value="{{status}}">
              {{#each statuses}}
              <option value="{{.}}">{{.}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div id="dragdrop" class="dropzone item-cover"
          {{#if cover}}
          style="background-image: url({{cover}});"
          {{/if}}>
        </div>

      </div>

    </div>

    <div class="col-md-8">
      <div class="description">
        <textarea id="description" name="description" placeholder="Description">{{description}}</textarea>
      </div>
      <div class="tags">
        <input id="tags" type="text" name="tags" placeholder="Tags ( comma separated values )" class="form-control" value="{{getTags}}"/>
      </div>
      <div class="link">
        <input id="link" type="text" name="link" placeholder="Project URL Demo" class="form-control" value="{{link}}"/>
      </div>
    </div>

    <div class="col-md-8 buttons-panel">

      <div class="pull-right cancel">
        <a id="cancel" class="btn btn-danger"
          {{#if _id}}
          href="/projects/{{_id}}"
          {{else}}
          href="/dashboards/{{domain}}"
          {{/if}}
        >Cancel</a>
      </div>

      <div class="pull-right save">
        <a id="save" class="btn btn-success">Save</a>
      </div>

    </div>

  </div>

</div>
