
<div class="header">
  <div class="container">
    <h1>{{title}}</h1>
    <h3 class="page-link-left">
      <a href="/dashboards/{{domain}}">{{domain}}</a>
    </h3>
  </div>
</div>

<div class="body">
  <div class="bg-body-entity"></div>
  <div class="container">

    {{#if link}}
    <h4 class="project-link">
      <a href="{{link}}" target="__blank">demo</a>
    </h4>
    {{/if}}

    <div class="col-md-4">

      <div class="cover">

        <div class="progress" title="{{status}}">
          <div class="{{status}}"></div>
        </div>

        {{#if cover}}
        <div class="item-cover"
          style="background-image: url({{cover}});"></div>
        {{else}}
        <i class="item-letter">{{firstLetter title}}</i>
        {{/if}}
      </div>

      <div class="people">

        <div class="clearfix">
          <h5>Managed by</h5>
          <a class="pull-left" href="/users/{{leader._id}}">
            {{getProfileImageHex leader}}
          </a>
        </div>

        <div class="clearfix">
          <h5>Contributors</h5>
          {{#each contributors}}
          <a class="pull-left" href="/users/{{_id}}">
            {{getProfileImageHex .}}
          </a>
          {{/each}}
        </div>

        <div class="clearfix">
          <h5>Likes</h5>
          {{#each followers}}
          <a class="pull-left" href="/users/{{_id}}">
            {{getProfileImageHex .}}
          </a>
          {{/each}}
        </div>

      </div>

    </div>

    <div class="col-md-8">
      <div class="description">
        {{{markdown description}}}
      </div>
      <ul class="tags clearfix">
        {{#each tags}}
        <li>
          <a href="/projects?q={{.}}" data-bypass="true">{{.}}</a>
        </li>
        {{/each}}
      </ul>
    </div>

    {{#isLoggedIn}}

    <div class="col-md-8 buttons-panel">
      {{#if isAdminOrLeader}}
      <div class="pull-right remove">
        <a class="btn btn-primary remove">Remove</a>
      </div>
      <div class="pull-right edit">
        <a class="btn btn-primary edit" href="/projects/{{_id}}/edit">Edit</a>
      </div>
      {{/if}}

      {{#if showActions}}
      <div class="pull-right contributor">
        {{#if contributing}}
        <a class="btn btn-default leave">Leave</a>
        {{else}}
        <a class="btn btn-default join">Join</a>
        {{/if}}
      </div>
      <div class="pull-right follower">
        {{#if following}}
        <a class="btn btn-default unfollow">Unfollow</a>
        {{else}}
        <a class="btn btn-default follow">Follow</a>
        {{/if}}
      </div>
      {{/if}}

    </div>
    {{/isLoggedIn}}

  </div>

  <div id="disqus_thread" class="col-md-12"></div>
  <script src="/js/disqus.js" disqus_shortname="{{disqus_shortname}}"></script>

</div>
