
<div class="header">
  <div class="container">
    <h1>{{title}}</h1>
    <h3 class="page-link-left">
      <a href="/dashboards/{{domain}}">{{domain}}</a>
    </h3>
  </div>
</div>

<div class="body">
  <div class="bg-body-entity"></div>
  <div class="container">

    <div class="col-md-4">

      <div class="cover {{#unless cover}}no-cover{{/unless}}">

        <div class="progress" title="{{status}}">
          <div class="{{status}}"></div>
          <div class="status">{{status}}</div>
        </div>

        {{#if cover}}
        <div class="item-cover"
          style="background-image: url({{cover}});"></div>
        {{else}}
        <i class="item-letter">{{firstLetter title}}</i>
        {{/if}}
      </div>


      <div class="buttons-panel top-buttons">

      {{#isLoggedIn}}

        {{#if showActions}}

          <div class="contributor">
            {{#if contributing}}
            <a data-loading-text="{{__ "leaving..."}}" class="btn btn-default leave">{{__ "Leave"}}</a>
            {{else}}
            <a data-loading-text="{{__ "joining..."}}" class="btn btn-default join">{{__ "Join"}}</a>
            {{/if}}
          </div>
          <div class="follower">
            {{#if following}}
            <a data-loading-text="{{__ "unfollowing..."}}" class="btn btn-default unfollow">{{__ "Unfollow"}}</a>
            {{else}}
            <a data-loading-text="{{__ "following..."}}" class="btn btn-default follow">{{__ "Follow"}}</a>
            {{/if}}
          </div>

        {{/if}}

      {{else}}

        <a class="btn btn-default login">{{__ "Follow"}}</a>
        <a class="btn btn-default login">{{__ "Join"}}</a>

      {{/isLoggedIn}}

        <a class="share tooltips share-top" data-original-title="{{__ "Share this Project"}}">
          <i class="fa fa-share-alt"></i>
        </a>
      </div>

      <div class="people">

        <div class="clearfix">
          <h5>{{__ "Managed by"}}</h5>
          <a class="pull-left" href="/users/{{leader._id}}">
            {{getProfileImageHex leader}}
          </a>
        </div>

        <div class="clearfix">
          <h5>{{__ "Contributors"}} [{{contributors.length}}]</h5>
          {{#each contributors}}
          <a class="pull-left" href="/users/{{_id}}">
            {{getProfileImageHex .}}
          </a>
          {{/each}}
        </div>

        <div class="clearfix">
          <h5>{{__ "Followers"}} [{{followers.length}}]</h5>
          {{#each followers}}
          <a class="pull-left" href="/users/{{_id}}">
            {{getProfileImageHex .}}
          </a>
          {{/each}}
        </div>

      </div>

    </div>

    <div class="col-md-8">
      <div class="description">
        {{{markdown description}}}
      </div>
      <ul class="tags clearfix col-md-10">
        {{#each tags}}
        {{#if .}}
        <li>
          <a href="/projects?q={{.}}" data-bypass="true">{{.}}</a>
        </li>
        {{/if}}
        {{/each}}
      </ul>
      <div class="share-ctn clearfix col-md-2 share-inner">
        <a class="share tooltips" data-original-title="{{__ "Share this Project"}}">
          <i class="fa fa-share-alt"></i>
        </a>
      </div>
    </div>

    <div class="col-md-12 buttons-panel">

    {{#if link}}
    <div class="pull-right">
      <a href="{{link}}" target="__blank" class="btn btn-default">{{__ "demo"}}</a>
    </div>
    {{/if}}

    {{#isLoggedIn}}

      {{#if isAdminOrLeader}}
      <div class="pull-right remove">
        <a class="btn btn-danger">{{__ "Remove"}}</a>
      </div>
      <div class="pull-right edit">
        <a class="btn btn-success" href="/projects/{{_id}}/edit">{{__ "Edit"}}</a>
      </div>
      {{/if}}

      {{#if showActions}}

      <div class="pull-left bottom-buttons">

        <div class="pull-left contributor">
          {{#if contributing}}
          <a data-loading-text="{{__ "leaving..."}}" class="btn btn-default leave">{{__ "Leave"}}</a>
          {{else}}
          <a data-loading-text="{{__ "joining..."}}" class="btn btn-default join">{{__ "Join"}}</a>
          {{/if}}
        </div>
        <div class="pull-left follower">
          {{#if following}}
          <a data-loading-text="{{__ "unfollowing..."}}" class="btn btn-default unfollow">{{__ "Unfollow"}}</a>
          {{else}}
          <a data-loading-text="{{__ "following..."}}" class="btn btn-default follow">{{__ "Follow"}}</a>
          {{/if}}
        </div>

      </div>
      {{/if}}

    {{else}}

      <div class="pull-left bottom-buttons">
        <a class="btn btn-default login">{{__ "Follow"}}</a>
        <a class="btn btn-default login">{{__ "Join"}}</a>
      </div>

    {{/isLoggedIn}}
    </div>

  </div>

  <div class="container discourse-ctn">
  </div>

  <div class="container disqus-ctn">
    <div id="disqus_thread" class="col-md-12"></div>
  </div>

</div>
