<div class="well">
  <div class="cover shadow"> 
    {{#if cover}}
    <div class="project-image" style="background-image: url('{{cover}}');"></div>
    {{/if}}
  </div>
  <div class="well-content">
    {{#isSearchView}}
      <h4><a href="{{instanceURL}}">{{domain}}</a></h4>
    {{/isSearchView}}
    <h4>{{title}}</h4>
    <br/>
    {{{markdown description}}}
    <div id="contributors">
    {{#each contributors}}
      <a href="/users/{{_id}}">
        {{getProfileImage .}}
      </a>
    {{/each}}
    </div>
  </div>
  <div class="row-fluid footer-box">
    <div class="aging activity created_at">
      <i rel="tooltip" title="{{timeAgo created_at}}" class="tooltips icon-time icon-1"></i>
    </div>
    <div class="activity people">
      {{followers.length}} 
      <a><i class="icon-heart"></i></a>
    </div>

    {{#if link}}
    <div class="pull-right demo">
      <a href="{{link}}" target="_blank" class="btn btn-link" data-bypass>Demo</a>
    </div>
    {{/if}}

    {{#isLoggedIn}}

      {{#isDashboardView}}
        {{#if isAdminOrLeader}}
        <div class="pull-right remove">
          <a class="btn btn-link remove">Remove</a>
        </div>
        <div class="pull-right edit">
          <a class="btn btn-link edit" href="/projects/{{_id}}/edit">Edit</a>
        </div>
        {{/if}}
      {{/isDashboardView}}

      {{#if showActions}}
      <div class="pull-right contributor">
        {{#if contributing}}
        <a class="btn btn-link leave">Leave</a>
        {{else}}
        <a class="btn btn-link join">Join</a>
        {{/if}}
      </div>
      <div class="pull-right follower">
        {{#if following}}
        <a class="btn btn-link unfollow">Unfollow</a>
        {{else}}
        <a class="btn btn-link follow">Follow</a>
        {{/if}}
      </div>
      {{/if}}

    {{/isLoggedIn}}
    
  </div>

  {{#isLoggedIn}}
    {{#isDashboardView}}
      {{#if isShowcaseMode}}

        <div class="switcher tooltips" data-placement="top" data-original-title="Toggle visibility">
          <input type="checkbox" {{#if active}}checked{{/if}} class="switch-small">
        </div>

       {{/if}}
    {{/isDashboardView}}
  {{/isLoggedIn}}
</div>
