{{#if isAdmin}}

  <h1>
    <a id="collection-title">{{title}}</a>
  </h1>

  <p>
    <a id="collection-description">{{description}}</a>
  </p>

{{else}}

  {{#if title}}
  <h1>{{title}}</h1>
  {{/if}}

  {{#if description}}
  <p>{{description}}</p>
  {{/if}}

{{/if}}
